<!DOCTYPE html>
<html>
<head>
  <title>Airtime Store</title>
</head>
<body>
  <h1>Select an Airtime Bundle</h1>
  <form action="/checkout" method="POST">
    <% bundles.forEach(bundle => { %>
      <div>
        <input type="radio" name="bundleId" value="<%= bundle.id %>" required>
        <%= bundle.name %> - KES <%= bundle.price %>
      </div>
    <% }) %>
    <button type="submit">Buy Now</button>
  </form>
</body>
</html>
